<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">
                ¿Qué es la Renovación Carismática Católica en el Espíritu Santo
                (RCCES)?
              </h1>
              <p class="lead text-white">
                Es una corriente de gracia por medio de la cual el Espíritu de
                Dios nos lleva a vivir de manera vivencial la realidad del
                Cuerpo de Cristo en completa obediencia al magisterio de la
                Santa Iglesia Católica.
              </p>
              <ul class="list-unstyled">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-primary mr-3">
                        <i class="fas fa-book"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0 text-white">
                        Un mejor conocimiento de la Persona y de la Obra del
                        Espíritu Santo.
                      </h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-primary mr-3">
                        <i class="fas fa-hands"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0 text-white">
                        Una entrega sin limitaciones a la conducción del
                        Espíritu Santo y una constante docilidad para seguir sus
                        inspiraciones.
                      </h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-primary mr-3">
                        <i class="fas fa-heart"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0 text-white">
                        Es la renovación del amor en todas sus proyecciones.
                      </h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 text-center">
              <img
                src="https://storage.cloud.google.com/rcces-santa-cruz-queretaro-resources/rcces-logo-blanco.png"
                class="img-fluid floating"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <img
            src="https://storage.cloud.google.com/rcces-santa-cruz-queretaro-resources/bienvenida_retiro.jpg"
            class="img-fluid floating"
          />
        </div>
        <div class="col-md-6">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-3"
            >
              <i class="fas fa-cross"></i>
            </div>
            <h3 class="text-primary mb-3">Historia de nuestra comunidad</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              condimentum velit ut quam tincidunt, non pharetra nibh accumsan.
              Integer pulvinar, leo sit amet interdum pharetra, massa turpis
              egestas leo, eu elementum dui turpis et nunc. Etiam tempus eget
              sapien sed blandit. Duis sed pulvinar felis, sit amet pellentesque
              ante. Quisque congue fringilla lectus, id molestie massa lobortis
              ac. In congue ante ut nunc lacinia sagittis.
            </p>
            <ul class="list-unstyled">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="fas fa-book"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="text-primary mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nulla condimentum velit ut quam tincidunt, non pharetra
                      nibh accumsan.
                    </h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="fas fa-book"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="text-primary mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nulla condimentum velit ut quam tincidunt, non pharetra
                      nibh accumsan.
                    </h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="fas fa-book"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="text-primary mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nulla condimentum velit ut quam tincidunt, non pharetra
                      nibh accumsan.
                    </h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-3"
            >
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <h3 class="text-primary mb-3">Ubicación</h3>
            <p>
              Nuestros crecimientos se ubican en la casa de formación que está
              frente al convento de la Santa Cruz de los Milagros.
            </p>
            <ul class="list-unstyled">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="fas fa-map-pin"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="text-primary mb-0">
                      Calle Independencia S/N, La Santa Cruz, Centro, 76020
                      Santiago de Querétaro, Qro.
                    </h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.8752951190195!2d-100.38673628507466!3d20.593149686235996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b2d8637ee93%3A0x802b2029a4893f15!2sTemplo%20y%20Convento%20de%20la%20Santa%20Cruz.!5e0!3m2!1sen!2smx!4v1604124847999!5m2!1sen!2smx"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
