<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-3 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">
                <span
                  >Renovación Carismática Católica en el Espíritu Santo</span
                >
                de la Santa Cruz de los Milagros
              </h1>
              <p class="lead text-white">
                Bienvenido a la página oficial de nuestra comunidad, le
                invitamos también a suscribirse y revisar nuestra página de
                Facebook para conocer sobre actualizaciones y retiros.
              </p>
              <div class="btn-wrapper">
                <a
                  href="https://www.facebook.com/rccessantacruzqueretaro/"
                  class="btn btn-neutral btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="fab fa-facebook"></i
                  ></span>
                  <span class="btn-inner--text">Ver página de Facebook</span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <img
                src="https://storage.googleapis.com/rcces-santa-cruz-queretaro-resources/Octaviano.jpg"
                class="img-fluid floating"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-3"
            >
              <i class="fas fa-bible"></i>
            </div>
            <h3 class="text-primary mb-3">Crecimientos</h3>
            <p>
              Te invitamos a inscribirte en los crecimientos de formación, los
              cuales profundizan en la enseñanza de la Sana Doctrina de la Santa
              Iglesia Católica así como en el conocimiento del Espíritu Santo
              como inspirador de Fe y Amor.
            </p>
            <p>
              <span class="badge badge-pill badge-primary"
                >Actualización por COVID-19</span
              >
            </p>
            <p>Inscripciones para crecimientos virtuales: Aún no disponible.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 floating">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/3iO1jj-lyxg"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 floating">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/mC2coTNzjkI"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-3"
            >
              <i class="fas fa-praying-hands"></i>
            </div>
            <h3 class="text-primary mb-3">Asambleas de oración carismáticas</h3>
            <p>
              Sé parte de las asambleas de oración que se llevan todos los Lunes
              a partir de las 4:30 en el Templo de la Santa Cruz de los Milagros
              y vive el amor que Dios derrama a través del paráclito prometido:
              El Espíritu Santo.
            </p>
            <p>
              <span class="badge badge-pill badge-primary"
                >Actualización por COVID-19</span
              >
            </p>
            <p>
              Ve la transmisión por nuestra página oficial de Facebook y
              Youtube.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-3"
            >
              <i class="fa fa-dove"></i>
            </div>
            <h3 class="text-primary mb-3">Retiros</h3>
            <p>
              Conviértete en testigo del amor de Dios a través de los retiros
              organizados por la comunidad, en los cuales se tratan temas
              relevantes como la conversión y el conocimiento de la obra
              redentora de Cristo.
            </p>
            <p>
              <span class="badge badge-pill badge-primary"
                >Actualización por COVID-19</span
              >
            </p>
            <p>
              Ve la transmisión por nuestra página oficial de Facebook y
              Youtube.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9 floating">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/aQRdtk1f-K8"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
