<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ test | date: "yyyy" }}
          <a
            href="https://www.facebook.com/rccessantacruzqueretaro/"
            target="_blank"
            >RCCES Santa Cruz Querétaro</a
          >.
        </div>
      </div>
      <div class="col-md-6 text-right">
        <a
          target="_blank"
          href="https://www.facebook.com/rccessantacruzqueretaro/"
          class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
          ngbTooltip="Like us"
        >
          <i class="fab fa-facebook-square"></i>
        </a>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCBm11Ma_harD6v_eeCRRe_A"
          class="btn btn-neutral btn-icon-only btn-youtube btn-lg btn-round"
          ngbTooltip="Follow us"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
